<!DOCTYPE html>
{% extends 'appOne\base.html'%}
{% load empfilter %}
{% load static %}

{% block body_block %}
    <h1>Employee Details:</h1>
    <table border="3">
      <thead>
        <th>Id</th>
        <th>First_name</th>
        <th>Last_name</th>
        <th>Email</th>
        <th>Salary</th>
      </thead>
      {% for emp in employee_list %}
      <tr>
        <td><a href="/{{emp.id}}">{{emp.id}}</a></td>
        <td>{{emp.Firstname | mylower}}</td>
        <td>{{emp.Lastname | mylower}}</td>
        <td>{{emp.Email}}</td>
        <td>{{emp.Salary | add:'10000'}}</td>
      </tr>
      {% endfor %}
    </table><br/><br/>
    <a href="/create">Add Employee</a>
  {% endblock %}
