<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static " style.css " %}"/>
    <title>Title</title>
</head>
<body>
<h2> LapTop Details:</h2>
{% if  laptop %}
<table border="2">
    <thead>
    <th>Brand_Name</th>
    <th>Brand_Color</th>
    <th>Brand_Price</th>
    </thead>
    {% for i in laptop %}
    <tr>
        <td>{{i.Brandname}}</td>
        <td>{{i.Brandcolor}}</td>
        <td>{{i.Brandprice}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>No LapTop Records</h2>
{% endif %}
<br/><br/>

<a href="/form">Add Laptop</a>
</body>
</html>