table, th, td {
  border-top: 2px solid brown;
  padding:4px;
  font-family: cursive;
}
tr:hover{
  background-color:lightyellow;
}

table{
  border-collapse:collapse;
  width:50%;
  text-align:center;
}
thead {
  background-color: limegreen;
  color:black;
}