<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "styleone.css" %}">
    <title></title>
  </head>
  <body>
    <h1>Employee Details:</h1>
    <table border="3">
      <thead>
        <th>Id</th>
        <th>First_name</th>
        <th>Last_name</th>
        <th>Email</th>
        <th>Salary</th>
      </thead>
      {% for emp in employee_list %}
      <tr>
        <td><a href="/{{emp.id}}">{{emp.id}}</a></td>
        <td>{{emp.Firstname}}</td>
        <td>{{emp.Lastname}}</td>
        <td>{{emp.Email}}</td>
        <td>{{emp.Salary}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
